<div class="panel controls">
  <span class="shirt-color-section">
    Shirt
    <span class="btn-group" uib-dropdown is-open="design.chooseShirtColor">
      <button class="btn btn-primary" uib-dropdown-toggle>
        {{design.shirtColor.name}}
        <span class="swatch" ng-style="{background: design.shirtColor.rgb}"></span>
        <span class="caret" ng-class="{up:design.chooseShirtColor}"></span>
      </button>
      <ul class="shirt-color dropdown-menu" uib-dropdown-menu>
        <li ng-click="design.setShirtColor(color)" ng-repeat="color in design.shirtColors">
          {{color.name}} <span class="swatch pull-right" ng-style="{background: color.rgb}"></span>
        </li>
      </ul>
    </span>
  </span>

  <span class="pull-right">
    <span class="rotation">
      <div class="icon" ng-click="design.rotateCCW()">L</div>
      <div class="icon" ng-click="design.rotateCW()">R</div>
    </span>
    <div class="icon" ng-click="design.resetTransform()">I</div>
  </span>

  <div class="fill-color-section">
    <h3>
      Fill
      <span class="swatch" title="None"></span>
    </h3>
    <div class="swatch"
      ng-repeat="color in design.fillColors"
      ng-class="{selected: color.selected}"
      ng-style="{background: color.rgb}"
      title="{{color.name}}"
      ng-click="design.setFillColor(color)"></div>
  </div>

  <div class="stroke-color-section">
    <h3>
      Stroke
      <span class="swatch" title="None"></span>
      <select class="stroke-weight"
        ng-model="design.style.weight"
        ng-change="design.setStrokeWeight()">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </h3>
    <div class="swatch"
      ng-repeat="color in design.strokeColors"
      ng-class="{selected: color.selected}"
      ng-style="{background: color.rgb}"
      title="{{color.name}}"
      ng-click="design.setStrokeColor(color)"></div>
  </div>
</div>

<div class="panel panel-default" ng-repeat="group in design.shapeData.groups">
  <div class="panel-heading" ng-click="group.isOpen = !group.isOpen">
    <h4 class="panel-title">
      {{group.groupId}}<span class="caret" ng-class="{up: group.isOpen}"></span>
    </h4>
  </div>
  <div uib-collapse="!group.isOpen">
    <div class="panel-body shape-area">
      <div class="icon" ng-repeat="shape in group.shapes" ng-click="design.addShape(shape)">
        <svg ng-attr-view_box="{{shape.viewBox}}" height="auto" width="auto">
          <polygon ng-if="shape.type === 'polygon'" ng-attr-points="{{shape.data}}"/>
          <path ng-if="shape.type === 'path'" ng-attr-d="{{shape.data}}" />
        </svg>
      </div>
    </div>
  </div>
</div>
