<div class="panel panel-default">
  <div class="panel-heading controls">
    <svg class="icon" ng-click="layers.moveUp()">
      <use xlink:href="#layer-up">
        <title>Layer Up</title>
      </use>
    </svg>
    <svg class="icon" ng-click="layers.moveDown()">
      <use xlink:href="#layer-down">
        <title>Layer Down</title>
      </use>
    </svg>
    <svg class="icon" ng-click="layers.delete()">
      <use xlink:href="#layer-delete">
        <title>Delete Layer</title>
      </use>
    </svg>
    <svg class="icon" ng-click="layers.duplicate()">
      <use xlink:href="#layer-duplicate">
        <title>Duplicate Layer</title>
      </use>
    </svg>
  </div>

  <div class="panel-body">
    <div class="layer"
    ng-repeat="layer in layers.list"
    ng-class="{selected: layer.selected}"
    ng-click="layers.selectLayer(layer)">
    <layer-tumbnail layer="layer"></layer-tumbnail>
  </div>
  </div>
</div>
