$body-bg: rgb(216, 219, 222);
$canvas-default-bg: rgb(255, 255, 255);

$nav-height: 5vh;
$nav-bg: rgb(72, 165, 175);
$nav-fg: rgb(47, 50, 60);

$side-section-bg: rgb(80, 128, 130);

$icon-bg: rgb(178, 182, 182);
$icon-hover-bg: darken($icon-bg, 12%);
$icon-click-bg: darken($icon-hover-bg, 10%);
$icon-size: 3.5rem;

$layer-bg: rgb(211, 226, 226);

$print-swatch-size: 2.5rem;

$selected-bg:  rgb(156, 166, 166);
$selected-accent: rgb(77, 84, 170);
$selected-border: .33rem solid $selected-accent;
$selected-shadow: 0 0 0 .25rem $selected-accent;

$artboard-shadow: .25rem .25rem 2rem darken($body-bg, 65%);
