body {
  background: navy;
  overflow: hidden;
}

nav {
  background: tomato;
}

.navbar {
  border: 0;
  height: 5vh;
  margin-bottom: 0;
}

/* TODO(adam): find fix for 100vh */
.content {
  border: 0;
  height: 95vh;
}

.content .row,
.content .row > div {
  height: 100%;
}

.tools {
  background: teal;
}

.design {
  background: orange;
}

.layers {
  background: forestgreen;
}


.color-area {
  padding: .75rem;
}

.icon {
  background: grey;
  display: inline-block;
  height: 3.25rem;
  width: 3.25rem;
}

.shape-area .icon {
  height: 4rem;
  width: 4rem;
}

.shirt-color-section {
  font-size: 2.25rem;
}

div[ng-click] {
  cursor: pointer;
}
