body {
  background: navy;
  overflow: hidden;
}

nav {
  background: tomato;
}

.navbar {
  border: 0;
  height: 5vh;
  margin-bottom: 0;
}

/* TODO(adam): find fix for 100vh */
.content {
  border: 0;
  height: 95vh;
}

.content .row,
.content .row > div {
  height: 100%;
}

.content div[ng-include] {
  height: 95%;
}

.tools {
  background: teal;
}

.design {
  background: orange;
}

.layers {
  background: forestgreen;
}


.color-area {
  padding: .75rem;
}

.icon {
  background: grey;
  border: 1px solid grey;
  cursor: pointer;
  display: inline-block;
  height: 3.25rem;
  margin: .25rem;
  vertical-align: middle;
  width: 3.25rem;
}

.shape-area .icon {
  height: 4rem;
  width: 4rem;
}

.layers .panel {
  height: 100%;
}

.layers .controls .icon {
  height: 1.75rem;
  width: 1.75rem;
  margin: 0;
}

.shirt-color-section {
  font-size: 2.25rem;
}

.dropdown-menu > li {
  font-size: 1.75rem;
}

.dropdown-menu > li:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.shirt-color .icon {
  height: 1.75rem;
  width: 1.75rem;
}

div[ng-click] {
  cursor: pointer;
}

.caret {
  border-width: 7px;
}

.caret.up {
  border-bottom: 7px solid;
  border-top: 0;
}

canvas {
  border: 1px solid black;
  margin-top: 2rem;
  width: 95%;
}

.layer {
  border: 1px solid black;
  margin: .75rem .5rem;
  text-align: center;
}
