<div class="profile container-fluid">
  <div class="col-xs-1"></div>
  <div class="col-xs-10 content">
    <div class="user-info panel">
      <table>
        <thead></thead>
        <tbody>
          <tr>
            <td class="info-label">Name</td>
            <td>{{profile.user.name}}</td>
          </tr>
          <tr>
            <td class="info-label">E-Mail</td>
            <td>{{profile.user.email}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="design-list">
      <div class="design" ng-repeat="design in profile.designs">
        <a href="" ng-click="profile.loadDesign(design)">
          <img class="thumb" src="{{design.thumb}}"
          ng-style="{background: design.shirtColor}">
        </a>
      </div>
    </div>
  </div>
  <div class="col-xs-1"></div>
</div>
