* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

body {
  background: #d8dbde;
  overflow: hidden; }

svg {
  overflow: visible !important; }

div[ng-click] {
  cursor: pointer; }

.navbar {
  background: #48a5af;
  border: 0;
  border-radius: 0;
  height: 5vh;
  margin-bottom: 0; }
  .navbar .navbar-brand,
  .navbar a {
    color: #2f323c !important; }
  .navbar a {
    font-size: 1.75rem; }
  .navbar li :hover {
    background: #39838b !important; }
  .navbar li :active {
    background: #2a6167 !important; }
  .navbar .navbar-brand {
    font-size: 2.5rem;
    font-weight: bold; }

.designer {
  border: 0;
  box-shadow: 0 2.5rem 1.5rem -2rem #c2c7cb inset;
  height: 95vh; }
  .designer .row,
  .designer .row > div {
    height: 100%; }
  .designer div[ng-include] {
    height: 98%; }
  .designer .side-section {
    box-shadow: 0 2.5rem 1.5rem -2rem #406769 inset; }
  .designer .panel {
    box-shadow: 0.25rem 0.25rem 1.5rem #3d6162;
    margin: 1rem; }
  .designer .caret {
    border-width: 7px; }
    .designer .caret.up {
      border-bottom: 7px solid;
      border-top: 0; }
  .designer canvas {
    background: white; }
  .designer .icon,
  .designer .swatch {
    border: 1px solid #b2b6b6;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle; }
  .designer .icon {
    background: #b2b6b6;
    fill-rule: evenodd;
    height: 3.5rem;
    margin: .125rem;
    padding: .25rem;
    width: 3.5rem; }
    .designer .icon:hover {
      background: #939898; }
    .designer .icon:active {
      background: #797f7f; }
  .designer .swatch {
    height: 2.5rem;
    margin: .25rem;
    width: 2.5rem; }
  .designer .selected {
    background: #9ca6a6;
    border: 0.33rem solid #4d54aa;
    box-shadow: 0 0 0 0.25rem #4d54aa; }

.designer .tools {
  background: #508082;
  overflow-y: auto;
  padding: .125rem; }
  .designer .tools .controls {
    padding: .75rem; }
  .designer .tools .shirt-color-section {
    font-size: 2.25rem; }
  .designer .tools .shirt-color .swatch {
    height: 1.75rem;
    width: 1.75rem; }
  .designer .tools .dropdown > .btn {
    padding: .25rem .75rem; }
  .designer .tools .dropdown-menu > li {
    font-size: 1.75rem; }
    .designer .tools .dropdown-menu > li:hover {
      background-color: #9ca6a6;
      cursor: pointer; }
  .designer .tools .stroke-weight {
    font-size: 1.75rem; }
  .designer .tools .shape-area .icon {
    height: 4rem;
    margin: .25rem;
    width: 4rem; }

.designer .artboard {
  box-shadow: 0.25rem 0.25rem 2rem #31353a;
  margin-top: 2rem;
  max-height: 95%;
  max-width: 95%; }

.designer .layers {
  background: #508082;
  overflow: hidden;
  padding: .125rem; }
  .designer .layers .panel {
    height: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center; }
  .designer .layers .panel-heading {
    padding-bottom: .33rem;
    padding-top: .33rem; }
  .designer .layers .panel-body {
    overflow: overlay;
    padding-top: .5rem; }
  .designer .layers .controls .icon {
    height: 3.5rem;
    margin: .125rem;
    width: 3.5rem; }

.designer .layer {
  background: #d3e2e2;
  height: 8rem;
  margin: .75rem .5rem; }
  .designer .layer.selected {
    background: #9ca6a6; }

.designer .thumb {
  margin: .5rem;
  max-height: 85%;
  max-width: 85%; }
